@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;

  --font: "Hepta Slab", sans-serif;
  --popins: "Poppins", sans-serif;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);

  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
p {
  margin-bottom: 0 !important;
}
body::-webkit-scrollbar {
  display: none;
}
.commontitle {
  font-size: 34px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}
.commontitle span:first-child {
  color: #2f327d;
}
.commontitle span:last-child {
  color: #f48c06;
}
/* header css start */
header {
  padding: 0.5rem 9rem;
}
.bgcolor {
  background-color: var(--white);
}
.hamburgurmenu:focus {
  box-shadow: none !important;
}
.logo {
  width: 75%;
}
.menulinkparent {
  gap: 2rem;
}
.menulinkbuttonparent {
  /* gap: 9rem; */
}
.nav-link {
  font-size: 16px;
  font-weight: 600 !important;
  line-height: 24px;
  text-align: left;
}

header .active {
  background: linear-gradient(94.26deg, #4356e6 12.43%, #ff9393 89.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid;
}
/* header css end */
/* heropage css start */
.heropage {
  background-image: url("../Assets/herobg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}
.herocontent {
  padding: 0.5rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  gap: 2rem;
}
.heropage .heroheading {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  width: 50%;
}
.heropage .heroheading span:last-child {
  background: linear-gradient(267.88deg, #eb3b3b 25.81%, #4356e6 97.49%);

  /* background: -webkit-linear-gradient(94.26deg, #4356e6 12.43%, #ff9393 89.55%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.herodesc {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #42526b;
  width: 50%;
}
.herobutton {
  background: linear-gradient(94.26deg, #4356e6 12.43%, #ff9393 89.55%);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  width: max-content;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
/* dev procees start */
.devprocesscontainer {
  padding: 2rem 9rem;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.devprocesscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.uppercard img {
  width: 30%;
}
.uppercard > p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}
.lowercard > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-align: left;
}
.devcardparent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* dev procees end */
/* getintouch banner start */
.getintouchbannerparent {
  padding: 2rem 9rem;
}
.getintouchbannerparent > img {
  width: 100%;
}
.getintocuhcontent {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* getintouch banner end */
/* case study start */
.casestudiescontainer {
  padding: 2rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.casestudiescontainer > p {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #42526b;
}
.casestudycardparent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.casestudycard {
  width: 26% !important;
  border: 1px solid #e6e8ec;
  border-radius: 1rem;
  overflow: hidden;
}
.casestudycard .cardtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  padding: 1rem 1rem;
}
.casestudycard .carddesc {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
}
.casestudycard > img {
  width: 100%;
}
/* case study end */
/* contactbg start */
.contactbg {
  /* background-image: url("../Assets/BG.svg"); */
  background: linear-gradient(94.26deg, #4356e6 12.43%, #ff9393 89.55%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 90vh;
  padding: 2rem 9rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contactright {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formparent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formparent input {
  border: 1px solid #e6e8ec;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
.contactleftinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.flagparent {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid white;
  width: fit-content;
  padding: 1rem 1.4rem;
  border-radius: 5rem;
  color: white;
}
.ctitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: white;
}
.cdesc {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: white;
}
.formtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.formdesc {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
/* contactbg end */
/* footer container start */
.footercontainer {
  padding: 2rem 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerlinkrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  margin: auto;
}
.footerlinkrow li {
  list-style: none;
  color: #0a142f;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footerlinkrow ul {
  padding: 0 !important;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.footerlinkrow ul p {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0.5rem !important;
}
.lastrowlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.lastrowlinks a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.footerlinkrow a {
  text-decoration: none;
  color: #0a142f;
}
.footerlastrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}
/* footercontaienr end */

@media (max-width: 768px) {
  /* header css start */
  header {
    padding: 0.5rem 1rem;
  }
  .menulinkparent {
    gap: 0rem;
  }
  .nav-item {
    width: fit-content;
  }
  /* header css end */
  /* heropage css start */
  .herocontent {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 1rem;
  }
  .heropage {
    background-position: left;
    background-size: cover;
    width: 100%;
    height: auto;
  }
  .heropage .heroheading {
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    width: 100%;
  }
  .herodesc {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #42526b;
    width: 100%;
  }
  /* hero page css end */
  /* dev procees start */
  .devprocesscontainer {
    padding: 1rem 1rem;
  }
  .devcardparent {
    flex-direction: column;
    gap: 2rem;
  }
  .devprocesscard {
    width: 70%;
    margin: auto;
  }

  /* dev procees end */
  /* get in touch bannerstart */
  .getintouchbannerparent {
    padding: 1rem 1rem;
  }
  .getintouchbannerparent > img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }
  .getintocuhcontent {
    position: absolute;
    top: 24%;
    left: 8%;
    width: 62%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .getintocuhcontent .commontitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  /* get in touch banner end */
  /* contact bg start */
  .contactbg {
    padding: 1rem 1rem;
    height: auto;
    flex-direction: column;
  }
  .contactleftinfo {
    width: 100%;
  }
  .contactright {
    width: 100%;
  }
  .flagparent {
    font-size: 12px;
  }
  /* contact bg end */
  /* casestudy start */
  .casestudiescontainer {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .casestudiescontainer > p {
    margin: auto;
    width: 100%;
  }
  .casestudycardparent {
    flex-direction: column;
  }
  .casestudycard {
    width: 100% !important;
  }
  /* case study end */
  /* footer start */
  .footercontainer {
    padding: 1rem 1rem;
  }
  .footerlinkrow {
    width: 90%;
    /* flex-direction: column; */
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  .footerlastrow {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 100%;
  }
  /* footer end */
}
